<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" type="text/css" href="/syntax-theme-dark.css" media="(prefers-color-scheme: dark)" />
		<link rel="stylesheet" type="text/css" href="/syntax-theme-light.css" media="(prefers-color-scheme: light)" />
	</head>

	<body>
		<header>
			<div id="topbar" {% if config.extra.tent %}style="margin-left: 35px;"{% endif %}>
				<a href="/" id="homelink">{{ config.title }}</a>
				<nav>
					{% for item in config.extra.menu %}
					<a href="{{ item.url }}">{{ item.name }}</a>
					{% endfor %}
				</nav>
			</div>
			<div style="position: relative;">
				{% if config.extra.tent %}
				<hr noshade id="tent-left">
				<hr noshade id="tent-right">
				{% endif %}
				<hr noshade style="margin-top:0">
			</div>
		</header>

		<div id="content">
			{% block content %}
			{% if section.title %}
			<h1>{{ section.title }}</h1>
			{% elif page.title %}
			<h1>{{ page.title }}</h1>
			{% endif %}

			{% if section.content %}
			{{ section.content | markdown | safe }}
			{% elif page.content %}
			{{ page.content | markdown | safe }}
			{% endif %}
			{% endblock content %}

			{% block articles %}
			{% if section.pages and section.path != '/' %}
			<hr class="small">
			<div id="articles">
				{% for page in section.pages %}
				{% if loop.index0 != 0 %}
				<hr style="margin: 1em 0">
				{% endif %}
				<h3><a href="{{ page.path }}">{{ page.title }}</a></h3>
				<div class="article-info">
					<a href="{{ page.path }}" class="article-read">{{ page.reading_time }}min read</a>
					<a href="{{ page.path }}" class="article-date">{{ page.date }}</a>
				</div>
				{% if page.summary %}
				{{ page.summary | markdown(inline=true) }}
				{% else %}
				{{ page.description }}
				{% endif %}
				<div style="margin-top: 0.3em">
					<em><a href="{{ page.path }}" style="margin-left: 2em">Continue Reading</a></em>
				</div>
				{% endfor %}
			</div>
			{% endif %}
			{% endblock articles %}
		</div>

		<footer>
			{% if config.extra.credit or config.extra.copyright %}
			<hr class="small">
			{% endif %}
			{% if config.extra.credit %}
			<p id="credit">Made with <a href="https://getzola.org">Zola</a> using the <a href="https://github.com/jzbor/zola-scribble">Scribble</a> theme.</p>
			{% endif %}
			{% if config.extra.copyright %}
			<p id="copyright">&#169; {{ config.extra.copyright }}</p>
			{% endif %}
			{% if config.extra.custom_footer %}
			<p id="custom-footer">{{ config.extra.custom_footer }}</p>
			{% endif %}

			{% if config.extra.goatcounter %}
			<script data-goatcounter="https://{{ config.extra.goatcounter }}/count"
				async src="//{{ config.extra.goatcounter }}/count.js"></script>
			{% endif %}
		</footer>
	</body>
</html>
