{% extends "base.html" %}

{% block articles %}
{% if section.pages and section.path != '/' %}
<hr class="small">
<div id="articles" class="cards">
	{% for page in section.pages %}
	<div class="card">
		{% if page.extra.image %}
		<img src="{{ page.extra.image }}"/>
		{% endif %}
		<div class="card-description">
			<h3><a href="{{ page.path }}">{{ page.title }}</a></h3>
			{% if page.summary %}
			{{ page.summary | markdown(inline=true) | safe}}
			{% else %}
			{{ page.description }}
			{% endif %}
			<div style="margin-top: 0.3em">
				{% if 'link' in page.extra %}
				<em><a href="{{ page.extra.link }}" style="margin-left: 2em">Read More</a></em>
				{% else %}
				<em><a href="{{ page.path }}" style="margin-left: 2em">Read More</a></em>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}
{% endblock articles %}
